
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.div{
  text-align: center;
}

.centrada{
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section{
  color: rgb(0, 0, 0);
}
.navBg{
  background-color: #2f0075;
}
.centro{
  padding-top: 8%;
}
.izquierda{
  padding-left: 1%;
}
.abajo{
  padding-bottom: 3%;
}
.a{
  color: white;
}
.carousel-inner img {
  max-height: 460px;
  object-fit: cover;
}

.carousel-caption{
  text-align: center;
  background-color: rgba(43, 43, 43, 0.5)
}

.footer{
  text-align: left;
}


.caja img{
  width: 220px;
  height: 280px;
  border-radius: 15px;
}
.caja p{
  text-align: center;
  font-size: 20px;
  
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
 }
.agregar{
  margin-left: 100px;
}
.elimUno{
  margin-right: 100px;
}
.elimTodos{
  margin-left: 35px;
}

